@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&dispaly=swap');

@font-face {
    src: url("../res/font/D-DIN.otf");
    font-family: d-din;
}
:root {
    --main-bg-color: #7f00ff;
    --sec-bg-color: #3d535f;
    --back-bg-color: #F0f1f6;
}

body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

header{
    position: sticky;
    z-index: 1;
    top: 0px;
    width: 100%;
    min-height: 80px;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
    background-color: #f3f5f8;
}
#menu-icon{
    font-size: 25px;
    color: var(--sec-bg-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#menu-icon:hover{
    color: var(--main-bg-color);
}
@media(max-width: 1100px){
   #menu-icon{
    display: block;
   }
   .nav-items{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 225px;
    opacity: .95;
    margin-top: 20px;
    border-radius:5px ;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .50s ease;
   }
   .menu-toggle{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 20px;
    }
    .nav-items li a{
        transition: all .50s ease;
    }
    .nav-items.open{
        right: 2%;
        line-height: 40px;
    } 
}
hr{
    position: sticky;
    top: 80PX;
}
.logo{
    display: flex;  
    font-size: 40px;
    font-weight: 800;
    color: var(--sec-bg-color);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.hero-image{
    width:460px;
    height: 80%;
}
.hero-image img{
    width: 100%;
    height: 100%;
}

.logo-dot{
    font-size: 70px;
    font-weight: 800;
    color: var(--main-bg-color);
}
.nav-items{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin: 0 20px;
}
.nav-items li a{
    font-size: 25px;
    color: var(--sec-bg-color);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-items li:hover a{
    color: var(--main-bg-color);
}

.hero-wrapper{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    padding-bottom: 50px;
    background-color: var(--back-bg-color);
    overflow: hidden;
}
.hero-content,
.hero-image{
    width: 50%;
}
.greeting{
    display: block;
    position: static;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--sec-bg-color);
}

h1{
    display: block;
    font-size: 7ex;
    font-weight: 900;
    color: var(--sec-bg-color);
}
h2{
    background: var(--back-bg-color);
    display: flex;
    justify-content: center;
    font-size: 5ex;
    font-weight: 900;
    color: var(--sec-bg-color);
}

.name-highlight{
    color: var(--main-bg-color);
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 20px;
    color: var(--sec-bg-color);
}
.description{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--sec-bg-color);
    text-align: justify;
}
.hero-buttons{
    width: 100%;
    position: static;
}
button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: var(--sec-bg-color);
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 10px 10px rgba(0, 0, 0,0.4);
    transition: all 0.3s; 
}
button:hover{
     background-color:var(--main-bg-color);
}

.about-container{
    background:  var(--back-bg-color);
    padding: 50px;
}
.about-content{
    display: flex;
    justify-content: center;
}
.ing2{
    background: var(--sec-bg-color) url("2.png") no-repeat cover;
}
@media screen and (max-width: 1024px){
    .hero-image{
        width:350px;
        height: 70%;
    }
    .logo, #menu-icon, .logo-dot, .greeting{
        font-size: 28px;
    }
  
    h1,h2{
        font-size: 28px;
    }
    button{
        font-size: 15px;
        padding: 6px 9px;
        margin: 25px 3.5px;
    }
}
@media screen and (max-width: 768px){
    .hero-image{
        width:300px;
        height: 60%;
    }
}

@media screen and (max-width: 460px){
    .nav-items{
        width: 162px;
    }
    .nav-items li a{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    .description{
        font-size: 12.5px;
    }
    .logo, #menu-icon, .logo-dot, .greeting{
        font-size: 20px;
    }
  
    h1,h2{
        font-size: 20px;
    }
    button{
        font-size: 10px;
        padding: 5px 5px;
        margin: 13px 2.5px;
        box-shadow: 0 5px 5px rgba(0, 0, 0,0.4);
    }
    .hero-image{
        width: 230px;
        height: 100%;
    }
}
.contact-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background:  var(--back-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 80%;
    background: #fff;
    border-radius: 6px;
    padding: 30px 35px 40px 35px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.contact-container .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-content .contact-info{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.contact-info::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--sec-bg-color);
}
.contact-info .contact-detail{
    margin: 14px;    
    text-align: center;
}

.contact-detail i{
    font-size: 30px;
    color: var(--main-bg-color);
    margin-bottom: 10px;
}
.contact-detail .detail-topic{
    font-size: 18px;
    font-weight: 500;
}
.contact-detail .detail-text{
    font-size: 16px;
    color:var(--sec-bg-color);
}
.contact-content .contact-form{
    width: 75%;
    margin-left: 75px;
}
.contact-form .form-title{
    font-size: 23px;
    font-weight: 600;
    color: var(--main-bg-color);
}
.contact-form .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

textarea:focus, input:focus{
    outline: none;
    box-shadow: 0 6px 8px  #36363624;
}
.contact-form .input-box input,
.contact-form .input-box textarea{
    height: 100%;
    width: 100%;
    padding: 20PX;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    background:  var(--back-bg-color);
    resize: none;
}

.contact-form .message-box{
    min-height: 110px;
    margin-top: 6px;
}
.contact-form .form-button{
    display: inline-block;
    margin-top: 12px;
}
.contact-form .form-button input[type="submit"]{
    margin-top: 25px;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--sec-bg-color);
    cursor: pointer;
    transition: all 0.3s;
}
.form-button input[type="submit"]:hover{
    background: var(--main-bg-color);
}
@media(max-width: 950px){
    .contact-container{
        width: 90%;
        padding: 30px 35px 40px 35px;    
    }
}
@media(max-width: 820px){
    .contact-container{
        margin: 40px 0;
        height: 100%;
    }
    .contact-container .contact-content{
        flex-direction: column-reverse;
    }
    .contact-content .contact-info{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-info::before{
        display: none;
    }
    .contact-content .contact-form{
        width: 100%;
        margin-left: 0;
    }
}
section .skills-grid{
    background-color:  var(--back-bg-color);
    display: grid;
    grid-gap: 16px;
    padding: 50px;
    max-width: 100%;
    margin-inline: auto;
} 
@media screen and (min-width: 600px){
    .skills-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px){
    .skills-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px){
    .skills-grid{
        grid-template-columns:1fr;
    }
    section .skills-grid{
        padding: 25px;
    }
}
.skills-grid .skill-card{
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
}
.skill-card:hover{
    box-shadow: 0 12px 16px  #36363624;
}
.skill-card span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: var(--main-bg-color);
    color: white;
    border-radius:35%;
    margin-inline:auto;
}
.skill-card h3{
    padding: 24px;
    font-size: 24px;
    color: var(--main-bg-color);
    text-align: center;
    text-transform: capitalize;
}
.skill-card .skill-item{
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;  
    color: #7c878d; 
    text-transform: uppercase; 
}
.skill-card:hover .skill-item{
    color:#060606;
}

.footer-container{
    height: 100px;
    width: 100%;
    background-color: var(--sec-bg-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}
.footer-content .social-links a:hover{
    color: #bbbfc6;
}
.footer-content .social-links a{
    font-size: 30px;
    color: #fff;
    margin: 25px 10px;
}

.animated-element {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: myAnimation 5s;
}

@keyframes myAnimation {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}
